li {
  list-style-type: none;
}
.router-link-active{
  text-decoration: none;
}
.tab-link {
  text-decoration: none;
  color:#000;
}
a {
  text-decoration: none;
  color:#000;
}
a {
  outline: none;
  /* 移除默认的焦点显示 */
}
a {
  -webkit-tap-highlight-color: rgb(171, 171, 171, .3);
  /* 移除点击时的蓝色区域 */
}
span, div {
  -webkit-font-smoothing: antialiased;
}