@font-face {
  font-family: 'iconfont';
  /* Project id 4702513 */
  src: url('//at.alicdn.com/t/c/font_4702513_5ken7zvvkoy.woff2?t=1729057552852') format('woff2'),
    url('//at.alicdn.com/t/c/font_4702513_5ken7zvvkoy.woff?t=1729057552852') format('woff'),
    url('//at.alicdn.com/t/c/font_4702513_5ken7zvvkoy.ttf?t=1729057552852') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}